## OOPs = Object Oriented Programming

In [1]:
a = 1

In [2]:
b = "String"

In [3]:
type(a)

int

In [4]:
print(type(a), type(b))

<class 'int'> <class 'str'>

### Class Creation

In [5]:
class Test:
    pass

In [6]:
var = Test()

In [7]:
type(var)

__main__.Test

In [8]:
print(type(var))

<class '__main__.Test'>

### Class method creation

In [12]:
class Test1:
    
    def welcome(self):
        print("Welcome to OOPs concept")

In [14]:
obj = Test1()

In [15]:
obj.welcome()

Welcome to OOPs concept

### Class Constructor creation

In [17]:
class PWSkills:
    def __init__(self, phone, email, s_id):
        self.phone = phone
        self.email = email
        self.s_id = s_id
    
    def return_s_details(self):
        return self.phone, self.email, self.s_id

In [18]:
tushar = PWSkills()

TypeError: PWSkills.__init__() missing 3 required positional arguments: 'phone', 'email', and 's_id'

In [19]:
tushar = PWSkills(91298320, "tt@gmail.com", 121)

In [21]:
tushar.phone

91298320

In [22]:
tushar.email

'tt@gmail.com'

In [23]:
tushar.s_id

121

### Changing referene variable i.e. `self`

In [24]:
class PWSkills1:
    def __init__(taru, phone, email, s_id):
        taru.phone = phone
        taru.email = email
        taru.s_id = s_id
    
    def return_s_details(taru):
        return taru.phone, taru.email, taru.s_id

In [25]:
rohan = PWSkills1(9832389834, "rohan@gmail.com", 234)

In [26]:
rohan.phone

9832389834

In [27]:
rohan.email

'rohan@gmail.com'

In [28]:
rohan.return_s_details()

(9832389834, 'rohan@gmail.com', 234)

In [35]:
class PWSkills2:
    def __init__(taru, phone, email, s_id):
        taru.phone1 = phone
        taru.email = email
        taru.s_id = s_id
    
    def return_s_details(taru):
        return taru.phone1, taru.email, taru.s_id

In [36]:
mohan = PWSkills2(2937483, "mohan@gmail.com", 293)

In [37]:
mohan.phone1

2937483

In [34]:
mohan.return_s_details()

AttributeError: 'PWSkills2' object has no attribute 'phone'

In [38]:
mohan.return_s_details()

(2937483, 'mohan@gmail.com', 293)

## Youtube tutorial - corey schafer

In [1]:
class Employee:
    pass

In [2]:
emp_1 = Employee()
emp_2 = Employee()

In [3]:
print(emp_1)
print(emp_1)

<__main__.Employee object at 0x0000029EE5C5B650>
<__main__.Employee object at 0x0000029EE5C5B650>

In [4]:
emp_1.first = 'Tarachand'
emp_1.last = 'Khorwal'
emp_1.email = 'Tarachand.Khorwal@company.com'
emp_1.pay = 50000

In [5]:
emp_2.first = 'Test'
emp_2.last = 'User'
emp_2.email = 'Test.User@company.com'
emp_2.pay = 60000

In [7]:
print(emp_1.email)
print(emp_2.email)

Tarachand.Khorwal@company.com
Test.User@company.com

In [15]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)

In [16]:
emp_1 = Employee("Tarachand", "Khorwa", 50000)
emp_2 = Employee("Test", "User", 60000)

In [17]:
print(emp_1.email)
print(emp_2.email)

Tarachand.Khorwa@company.com
Test.User@company.com

In [18]:
# printing full name
print('{} {}'.format(emp_1.first, emp_1.last))

Tarachand Khorwa

In [19]:
emp_1.fullname()

'Tarachand Khorwa'

In [28]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)

In [24]:
emp_1 = Employee("Tarachand", "Khorwa", 50000)
emp_2 = Employee("Test", "User", 60000)

In [25]:
# without self keyword in instance method
emp_1.fullname()

TypeError: Employee.fullname() takes 0 positional arguments but 1 was given

In [29]:
emp_1.fullname()
Employee.fullname(emp_1)

'Tarachand Khorwa'

## Class Variables

In [33]:
class Employee:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * 1.04)

In [37]:
emp_1 = Employee("Tarachand", "Khorwal", 50000)
emp_2 = Employee("Test", "User", 60000)

In [38]:
print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52000

In [36]:
class Employee:
    
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)
    
    def apply_raise(self):
        # we can use self.raise_amount instead of using classname
        self.pay = int(self.pay * Employee.raise_amount)

In [39]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.04
1.04

In [47]:
Employee.raise_amount = 1.04

In [41]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [42]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amount': 1.05,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'fullname': <function __main__.Employee.fullname(self)>,
              'apply_raise': <function __main__.Employee.apply_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [48]:
emp_1.raise_amount = 1.05

In [49]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.05
1.04

In [51]:
class Employee:
    
    num_of_emps = 0
    raise_amount = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
        Employee.num_of_emps += 1
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)
    
    def apply_raise(self):
        # we can use Employee.raise_amount instead of using instance
        self.pay = int(self.pay * self.raise_amount)

In [52]:
print(Employee.num_of_emps)

0

In [53]:
emp_1 = Employee("Tarachand", "Khorwal", 50000)
emp_2 = Employee("Test", "User", 60000)

In [54]:
print(Employee.num_of_emps)

2

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

## Class Method

In [64]:
class Employee:
    
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
        Employee.num_of_emps += 1
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)
    
    def apply_raise(self):
        # we can use Employee.raise_amount instead of using instance
        self.pay = int(self.pay * self.raise_amount)
        
    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount
        
    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)

In [56]:
emp_1 = Employee("Tarachand", "Khorwal", 50000)
emp_2 = Employee("Test", "User", 60000)

In [58]:
print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.04
1.04
1.04

In [59]:
Employee.set_raise_amt(1.05)

In [60]:
print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.05
1.05
1.05

In [61]:
# we can use @classmethod as alternative contructor

In [62]:
# practical usecase to create objects of Employee class using employee data string

emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

In [63]:
# using class
first, last, pay = emp_str_1.split('-')

new_emp_1 = Employee(first, last, pay)

In [65]:
# using class method
new_emp_1 = Employee.from_string(emp_str_1)

In [66]:
new_emp_1.email

'John.Doe@company.com'

## Static Method

In [71]:
class Employee:
    
    num_of_emps = 0
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = self.first + '.' + self.last + '@company.com'
        
        Employee.num_of_emps += 1
        
    def fullname(self):
        return '{} {}'.format(emp_1.first, emp_1.last)
    
    def apply_raise(self):
        # we can use Employee.raise_amount instead of using instance
        self.pay = int(self.pay * self.raise_amount)
        
    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount
        
    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)
    
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True

In [72]:
emp_1 = Employee("Tarachand", "Khorwal", 50000)
emp_2 = Employee("Test", "User", 60000)

In [77]:
import datetime
my_date = datetime.date(2023, 2, 23)

In [78]:
# To check whether today is workday or not
emp_1.is_workday(my_date)

True