## Polymorphism

In [1]:
def add(a, b):
    return a+b

In [2]:
add(3, 5)

8

In [3]:
add("Tarachand ", "Khorwal")

'Tarachand Khorwal'

In [4]:
add([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [5]:
class DataScience:
    def syllabus(self):
        print("This is my method for data science masters syllabus")

In [21]:
class WebDev:
    def __init__(self):
        self.var = "inside"
    new_var = "Outside"
    def syllabus(self):
        print("This is my method for web development syllabus")

In [10]:
def class_parcer(class_objs):
    for obj in class_objs:
        obj.syllabus()

In [7]:
data_science_obj = DataScience()

In [8]:
web_dev_obj = WebDev()

In [11]:
class_obj = [data_science_obj, web_dev_obj]

In [12]:
class_parcer(class_obj)

This is the method for data science masters
This is my method for web development syllabus

In [23]:
WebDev().new_var

'Outside'

## Encapsulation

In [27]:
class Test:
    def __init__(self, a, b):
        self.a = a
        self.b = b

In [28]:
t = Test(1, 2)

In [29]:
t.a

1

In [30]:
t.b

2

In [31]:
t.a = 323

In [32]:
t.a

323

In [49]:
class Car:
    def __init__(self, color, make, model, speed=0):
        self.__color = color
        self.__make = make
        self.__model = model
        self.__speed = speed
        
    def set_speed(self, speed):
        self.__speed = 0 if speed < 0 else speed
    
    def get_speed(self):
        return self.__speed

In [50]:
c = Car("Red", "Toyota", "m24", 234)

In [51]:
c._Car__color

'Red'

In [52]:
c.set_speed(342)

In [55]:
c.get_speed()

342

In [10]:
class BankAccount:
    def __init__(self, name, balance):
        self.__balance = balance
    
    def deposit(self, amount):
        self.__balance += amount
    
    def withdraw(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
            return True
        else:
            print("No sufficient Balance")
            return False
    
    def get_balance(self):
        return self.__balance

In [11]:
obj_bank_acc = BankAccount("Tarachand", 5000)

In [12]:
obj_bank_acc.get_balance()

5000

In [13]:
obj_bank_acc.deposit(5000)

In [14]:
obj_bank_acc.get_balance()

10000

In [15]:
obj_bank_acc.withdraw(4000)

True

In [16]:
obj_bank_acc.withdraw(7000)

No sufficient Balance

False

## Inheritance

### Single Inheritance

In [17]:
class Animal:
    def speak(self):
        print("I am an Animal.")

In [18]:
class Dog(Animal):
    pass

In [19]:
d = Dog()

In [20]:
d.speak()

I am an Animal.

### Multilevel Inheritance

In [21]:
class Vehicle:
    def __init__(self, color):
        self.color = color

In [22]:
class Car(Vehicle):
    def about(self):
        print("I am a car")

In [24]:
class SportCar(Car):
    def get_make(self):
        print("This is sports car!")

In [25]:
bugatti = SportCar()

TypeError: Vehicle.__init__() missing 1 required positional argument: 'color'

In [26]:
bugatti = SportCar("Black")

In [27]:
bugatti.about()

I am a car

In [28]:
bugatti.get_make()

This is sports car!

In [29]:
bugatti.color

'Black'

### Mutlitple inheritance

In [31]:
class Class1:
    def about(self):
        print("This is class1")

In [32]:
class Class2:
    def about(self):
        print("This is class2")

In [33]:
class Class3(Class1, Class2):
    def about(self):
        print("This is class3 inheriting class1 & class2")

In [34]:
obj = Class3()

In [35]:
obj.about()

This is class3 inheriting class1 & class2

## Youtube Tutorial - Corey Schaler

In [8]:
class Employee: 
    
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

In [10]:
dev_1 = Developer("Tarachand", "Khorwal", 50000)
dev_2 = Employee("Ayan", "Ali", 50000)

print(dev_1.email)
print(dev_2.email)

Tarachand.Khorwal@company.com
Ayan.Ali@company.com

In [19]:
class Developer(Employee):
    raise_amt = 1.10
    
    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

In [17]:
print(dev_1.pay)
dev_1.apply_raise()
print(dev_1.pay)

50000
52000

In [16]:
dev_1 = Employee("Tarachand", "Khorwal", 50000)
dev_2 = Developer("Ayan", "Ali", 50000)

In [18]:
print(dev_2.pay)
dev_2.apply_raise()
print(dev_2.pay)

50000
55000

In [20]:
dev_2 = Developer("Ayan", "Ali", 50000, "Python")

In [21]:
dev_2.prog_lang

'Python'

In [34]:
class Manager(Employee):
    
    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees
    
    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)
    
    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)
        
    def print_emps(self):
        for emp in self.employees:
            print('-->',emp.fullname())

In [35]:
mgr_1 = Manager("Tarachand", "Khorwal", 90000, [dev_2])

In [36]:
mgr_1.email

'Tarachand.Khorwal@company.com'

In [37]:
mgr_1.print_emps()

--> Ayan Ali

In [38]:
mgr_1.add_emp(dev_1)

In [40]:
mgr_1.print_emps()

--> Ayan Ali
--> Tarachand Khorwal

In [41]:
mgr_1.remove_emp(dev_1)

In [42]:
mgr_1.print_emps()

--> Ayan Ali

In [43]:
isinstance(mgr_1, Manager)

True

In [44]:
isinstance(mgr_1, Employee)

True

In [46]:
isinstance(mgr_1, Developer)

False

In [47]:
issubclass(Manager, Employee)

True

In [48]:
issubclass(Manager, Developer)

False

In [49]:
issubclass(Developer, Employee)

True

### Magic / Dunder Methods

In [85]:
class Employee: 
    
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)
        
    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)
    
    def __str__(self):
        return '{} - {}'.format(self.fullname(), self.email)
    
    def __add__(self, other):
        return self.pay + other.pay
    
    def __len__(self):
        return len(self.fullname())

In [86]:
emp_1 = Employee("Tarachand", "Khorwal", 50000)
emp_2 = Employee("Test", "User", 60000)

In [73]:
print(emp_1)

Tarachand Khorwal - Tarachand.Khorwal@company.com

In [74]:
print(repr(emp_1))
print(str(emp_1))

Employee('Tarachand', 'Khorwal', 50000)
Tarachand Khorwal - Tarachand.Khorwal@company.com

In [75]:
print(emp_1.__repr__())
print(emp_1.__str__())

Employee('Tarachand', 'Khorwal', 50000)
Tarachand Khorwal - Tarachand.Khorwal@company.com

### Dunder

In [76]:
print(1 + 2)

3

In [77]:
print(int.__add__(1, 3))

4

In [78]:
print(str.__add__("A","b"))

Ab

In [79]:
emp_1.__add__(emp_2)

110000

In [80]:
print(emp_1 + emp_2)

110000

In [81]:
print(len("Test"))
print("Test".__len__())

4
4

In [87]:
print(len(emp_1))

17

## Property Decorators

In [124]:
class Employee: 
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
    
    @property
    def email(self):
        return '{}.{}@gmail.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first, self.last = first, last
    
    @fullname.deleter
    def fullname(self):
        self.first = None
        self.last = None
        print("Deleted fullname")

In [125]:
emp1 = Employee("Tarachand", "Khorwal", 90000)

In [126]:
emp1.first = "Tushar"

In [107]:
# Before property decorator
print(emp1.first)
print(emp1.email())
print(emp1.fullname())

Tushar
Tushar.Khorwal@gmail.com
Tushar Khorwal

In [127]:
# after property decorator
print(emp1.first)
print(emp1.email)
print(emp1.fullname)

Tushar
Tushar.Khorwal@gmail.com
Tushar Khorwal

In [128]:
emp1.fullname = 'Ayan Ali'

In [123]:
print(emp1.first)
print(emp1.email)
print(emp1.fullname)

Ayan
Ayan.Ali@gmail.com
Ayan Ali

In [129]:
del emp1.fullname

Deleted fullname

In [130]:
print(emp1.first)
print(emp1.email)
print(emp1.fullname)

None
None.None@gmail.com
None None